.link-card:hover{
  scale: 1.03;
  transition: all 0.2s ease-in-out;
  
}

.card-citie {
  /* Estilo de cada tarjeta */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.card-image{
  height: 100%;
  width: 100%;
  position: relative;
}

.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-text{
  position: absolute;
  bottom: 0;
  color: #d9d0c5;
  font-weight: 500;
}

.card-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
}


