.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  position: absolute;
  z-index: 10;
  padding: 1.5rem;
}

.logo {
  color: #d9d0c5;
  font-weight: bolder;
  font-family: "Magilio", serif;
  font-size: calc(1rem + 0.5vw);
}

.navbar-routes {
  display: flex;
  gap: 2rem;
}

.navbar-routes li{
   color: #d9d0c5;
  }



@media screen and (min-width: 640px) {
  .navbar {
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .navbar-routes {
    gap: 7rem;
  }
}
